<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="graywind.shop.dao.CartMapper">
	<select id="getSingleCart" resultType="graywind.shop.bean.Cart">
		select
		user_id,commodit_id,volumn,add_time from cart
		where user_id = ${userId}
		and commodit_id = ${commoditId}
	</select>

	<select id="getCarts" resultType="graywind.shop.bean.Cart">
		select
		user_id,commodit_id,volumn,add_time from cart
		where user_id = ${userId}
	</select>

	<insert id="addCart" parameterType="graywind.shop.bean.Cart">
		insert into
		cart(user_id,commodit_id,volumn,add_time)
		values(${userId},
		${commoditId}, ${volumn},
		CURRENT_TIMESTAMP)
	</insert>

	<update id="updateCart">
		update cart
		set volumn = volumn + 1
		where user_id =
		${userId}
		and commodit_id = ${commoditId}
	</update>
</mapper>