<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>index</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p>
		购物车 <a href="/cart">here</a>
	</p>
	<p th:text="'余额: ' + ${balance}" />
	<form class="form-recharge" role="form" th:action="@{/user/recharge}"
        th:method="post">
        <input type="text" class="form-control" placeholder="充值金额"
            required="required" name="amount" /> 
        <button class="btn btn-lg btn-warning btn-block" type="submit">充值</button>
    </form>


	<table>
		<tr>
			<th>商品名</th>
			<th>价格</th>
			<th>库存</th>
			<th>添加</th>
		</tr>
		<tr th:each="commodit : ${commodits}">
			<td th:text="${commodit.name}" />
			<td th:text="${commodit.price}" />
			<td th:text="${commodit.volumn}" />
			<td th:onclick="'javascript:addToCart('+${commodit.id}+')'">
				<button>添加到购物车</button>
			</td>
		</tr>
	</table>

	<script type="text/javascript"
		th:src="@{/static/js/jquery-3.3.1.min.js}"></script>

	<script th:inline="javascript">
		function addToCart(id) {
			$.ajax({
				url : "/cart/add/" + id,
				data : {

				},
				type : "get",
				dataType : "text",
				success : function(text) {
					if(text == "下单成功"){
						window.location.href="/cart"
					}
					alert(text);
				}
			});
		};
	</script>
</body>
</html>