<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Register</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form class="form-signin" role="form" th:action="@{/user/register}"
        th:method="post">
        <input type="text" class="form-control" placeholder="用户名"
            required="required" name="username" /> <input type="password"
            class="form-control" placeholder="密码" required="required"
            name="password" />
        <button class="btn btn-lg btn-warning btn-block" type="submit">注册</button>
    </form>
    <div class="info" th:if="${success} == false">
        <p>注册失败</p>
        <p th:text="${info}" />
    </div>
    
</body>
</html>